<div class="container">
  <div class="box">
    <div class="columns">
      <div class="column is-two-thirds has-text-centered">
        <canvas id="role-play-grid" (click)="gridClick($event)"></canvas>
      </div>
      <div class="column">
        <div class="box is-info">
          <h1 class="title">Grid Manager</h1>

          <!-- Width Input -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="squares-width">Width:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control is-expanded">
                  <input class="input" type="number" max="20" min="1" id="squares-width" value="10" #widthInput />
                </div>
              </div>
            </div>
          </div>

          <!-- Height Input -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="squares-width">Height:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control is-expanded">
                  <input class="input" type="number" max="20" min="1" id="squares-width" value="10" #heightInput />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Submit -->
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-info" (click)="generate(widthInput.value, heightInput.value)">
                  Generate
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>